#{extends 'main.html' /}
#{set title:'Home' /}
<style type="text/css">
	table.entrance {
		position:absolute;
		display:block;
		top:32%;
		left:42%;
		border: 2px dashed black;
	}
</style>
 <script type="text/javascript">
 
 $(document).ready(function() {
	 $("form").submit(function() {
		if ( $('#presetRoom').val() != '' && $('#presetRoom').val() != null  ) {
			$('#manualRoom').val($('#presetRoom').val());
		} 
	 });
	 
 });
 
 </script>
<body>

#{form @Application.enterChat(username=username,roomName=roomName) }

<table class='entrance'>
<tr>
<td colspan=2 align=center><h2>Welcome to the chat!</h2></td>
</tr>
<tr>
<td>Username:</td>
<td><input type="text" name="username"/></td>
</tr>
<tr>
<tr>
<td colspan=2>
<select name='roomNameList' id='presetRoom' style="width:80%; display:block; margin-left:auto; margin-right:auto;">
#{list items:rooms, as:'room'}
		<option value=${room.roomName}>${room.roomName}</option>
#{/list}
</select>
</td>
</tr>
<tr>
<td>New Room:</td>
<td><input type=text name='roomName' id='manualRoom'/></td>
</tr>
<tr>
<td colspan="2" style="text-align:center"><input type="submit" value="Join"></td>
</tr>
</table>
#{/form}
</body>
